.footer {
  display: flex;
  justify-content: center;
  color: #212121;
  opacity: 70%;
  margin: 0;
  padding-bottom: 60px;
  padding-top: 40px;
}

.footer__copyright {
  font-weight: 400;
  font-family: poppins, Arial, Helvetica, sans-serif;
  margin: 0;
}
